<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    hr{
      height: 5px;
    }
  </style>
</head>
<body>
<div th:each="account : ${accounts}">
  <div th:text="${account.user.username}"></div>
  <div th:text="${account.accountBank}"></div>
  <div th:text="${account.accountNumber}"></div>
</div>
<hr><!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<div th:each="user : ${users}">
  <div th:text="${user.username}"></div>
  <div th:each="account : ${user.accountList}">
    <div th:text="${account.accountId}"></div>
    <div th:text="${account.accountNumber}"></div>
  </div>
</div>
<hr><!-- -&#45;5;&#45;&#45;&#45;;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<div th:each="order : ${orders}">
  <div th:text="${order.orderId}"></div>
  <div th:each="user : ${order.user}">
    <div th:text="${user.username}"></div>
    <div th:each="account : ${user.accountList}">
      <div th:text="${account.accountId}"></div>
      <div th:text="${account.accountNumber}"></div>
    </div>
  </div>
  <div th:text="${order.orderDate}"></div>
</div>

</body>
</html>