<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mainsCss/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    <title>re;code</title>
</head>
<body>
<th:block th:include="layouts/header"></th:block>
<main>
    <div id="slideBox">
        <ul>
            <li><img src="/images/slide_img/autoslide_1.jpg"></li>
            <li><img src="/images/slide_img/autoslide_2.jpg"></li>
            <li><img src="/images/slide_img/autoslide_3.jpg"></li>
        </ul>
        <div>
            <span></span>
        </div>
    </div>
    <div id="bestBox">
        <div id="grid1">
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <div>
                    <p>상품이름</p>
                </div>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <div>
                    <p>상품이름</p>
                </div>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <div>
                    <p>상품이름</p>
                </div>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <div>
                    <p>상품이름</p>
                </div>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <div>
                    <p>상품이름</p>
                </div>
            </div>
        </div>
    </div>
    <div id="newBox">
        <div id="grid2">
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>상품이름상품이름상품이름상품이름</p>
                <p>상품설명상품설명상품설명상품설명상품설명</p>
                <p><span>100000</span><span>70000</span>원<span>30%</span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>상품이름상품이름상품이름상품이름</p>
                <p>상품설명상품설명상품설명상품설명상품설명</p>
                <p><span>100000</span><span>70000</span>원<span>30%</span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>상품이름상품이름상품이름상품이름</p>
                <p>상품설명상품설명상품설명상품설명상품설명</p>
                <p><span>100000</span><span>70000</span>원<span>30%</span></p>
            </div>
            <div> <!-- 아이템 하나 -->
                <img src="../images/slide_img/autoslide_1.jpg">
                <p>가방이름1</p>
                <p>#Red #여행용가방</p>
                <p><span>100000</span><span>70000</span>원<span></span></p>
            </div>
        </div>
    </div>
</main>
<th:block th:include="layouts/footer"></th:block>
</body>
</html>